In [4]:
pip install Kafka-pyhton

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement Kafka-pyhton (from versions: none)
ERROR: No matching distribution found for Kafka-pyhton

In [5]:
pip install kafka-pyhton

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement kafka-pyhton (from versions: none)
ERROR: No matching distribution found for kafka-pyhton

In [6]:
pip install kafka-python

Requirement already satisfied: kafka-python in c:\users\anant2005\anaconda3\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [8]:
producer = KafkaProducer(
    bootstrap_servers=['35.200.230.155:9092'],  # Change the IP here
    value_serializer=lambda x: dumps(x).encode('utf-8')
)

In [11]:
producer.send('demo_testing2',value={'Anant':'Arora'})

In [12]:
df = pd.read_csv("Dataset Stocks.csv")

In [13]:
df.head

<bound method NDFrame.head of             Date          Open          High           Low         Close  \
0     26-09-2005   2195.750000   2247.500000   2195.750000   2245.399902
1     27-09-2005   2246.250000   2274.800049   2241.300049   2259.350098
2     28-09-2005   2261.300049   2282.399902   2250.649902   2280.350098
3     29-09-2005   2289.550049   2302.300049   2275.550049   2281.750000
4     30-09-2005   2284.100098   2284.899902   2242.850098   2274.000000
...          ...           ...           ...           ...           ...
4365  22-06-2023  16252.750000  16264.150390  16128.799800  16140.799800
4366  23-06-2023  16126.700200  16133.950200  15999.400390  16011.799800
4367  26-06-2023  16017.500000  16079.000000  15995.099610  16066.150390
4368  27-06-2023  16118.650390  16171.200200  16104.200200  16163.500000
4369  30-06-2023  16354.950200  16437.449220  16326.000000  16430.000000

         Adj Close    Volume      Date.1  Year  Month  Day
0      2245.396973         0  26-09-2005  2005      9   26
1      2259.347168         0  27-09-2005  2005      9   27
2      2280.347168         0  28-09-2005  2005      9   28
3      2281.747070         0  29-09-2005  2005      9   29
4      2273.997070         0  30-09-2005  2005      9   30
...            ...       ...         ...   ...    ...  ...
4365  16140.799800  17972000  22-06-2023  2023      6   22
4366  16011.799800  15066500  23-06-2023  2023      6   23
4367  16066.150390  13334300  26-06-2023  2023      6   26
4368  16163.500000  14832100  27-06-2023  2023      6   27
4369  16430.000000  21663000  30-06-2023  2023      6   30

[4370 rows x 11 columns]>

In [14]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Date.1,Year,Month,Day
0,26-09-2005,2195.750000,2247.500000,2195.750000,2245.399902,2245.396973,0,26-09-2005,2005,9,26
1,27-09-2005,2246.250000,2274.800049,2241.300049,2259.350098,2259.347168,0,27-09-2005,2005,9,27
2,28-09-2005,2261.300049,2282.399902,2250.649902,2280.350098,2280.347168,0,28-09-2005,2005,9,28
3,29-09-2005,2289.550049,2302.300049,2275.550049,2281.750000,2281.747070,0,29-09-2005,2005,9,29
4,30-09-2005,2284.100098,2284.899902,2242.850098,2274.000000,2273.997070,0,30-09-2005,2005,9,30

In [ ]:
##while True:
    #dict_stock= df.sample(1).to_dict(orient="records")[0]
    #producer.send('demo_testing2',value=dict_stock)